#navbar {
  background-color: #04364a;
}
#conta {
  margin-top: -1%;
  margin-bottom: -0.5%;
}
#main_sel {
  color: white;
  padding: 25px 70px;
}

#main_sel:hover {
  background-color: #115e7d;
}
#link_img {
  margin-right: -15%;
  margin-bottom: -5px;
}

.login-button,
.signup-button {
  /* Button-like styling */
  background-color: #2a7fa0;
  color: white;
  padding: 10px 20px;
  margin: 10px 20px;
  border: none;
  cursor: pointer;
}

.signup-button {
  margin-left: 10px;
}
